# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_FCM365X
	select SOC_PART_NUMBER_RW612UKA2I
	# default "RW612ETA2I" if SOC_PART_NUMBER_RW612ETA2I
	# default "RW612HNA2I" if SOC_PART_NUMBER_RW612HNA2I
	# default "RW612UKA2I" if SOC_PART_NUMBER_RW612UKA2I